<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Hệ thống quản lý phòng khám</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Trang chủ</a>
                </li>

                {% if current_user.is_authenticated and current_user.role == 4 %}
                <!-- Các liên kết chỉ hiển thị cho bác sĩ -->
                <li class="nav-item">
                    <a class="nav-link" href="/medicine-catalog">Danh mục thuốc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/other-page">Viên vỹ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/another-page">Chai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Giỏ hàng</a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <img src="{{current_user.avatar}}" width="25" alt="User Avatar" class="rounded-circle">
                        Chào {{current_user.name}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">&#128110; Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">&#128110; Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">&#128110; Đăng ký</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" method="get" action="/medicine-catalog">
                <input class="form-control me-2" type="text" name="q" placeholder="Tìm kiếm thuốc...">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
        </div>
    </div>
</nav>